* { font-size:12px;
	font-family:14px/18px Arial,Helvetica,sans-serif;
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	}
.clear_fix { overflow:auto; zoom:1}
section { width: 100%;
    max-width: 1200px;
    margin: auto;
}
a {         text-decoration: none;
                transition: .2s;
                color: #288ad6;
}
div {
    display:block;
}
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul, ol {
    list-style: none;
}

.header-none .carousel{
    width: 100%;
    background-color: #004cc6;
}
.header-none .carousel-inner {
    width: 1200px !important;
    margin: 0 auto;
    height: 44px;
    position: relative;
}
/* star:header */
/* star:header-top */
.header a {
    text-decoration: none;
}
.header-top {   background-color: #4285de;
}

.header-top section {align-items: center;
                display: flex;
                justify-content: space-between;
                max-width: 1200px;
                overflow: initial;
                background-color: transparent;
                margin: auto;
                }
.header-logo {padding-right: 15px;}
.header-logo img {
                background-position: 0 0;
                height: 25px;
                width: 140px;
}
.bordercol {    background-color: #0f65d8;
                height: 40px;
                width: 1px;
            }
.header-address {
                color: #b0e3ff;
                font-size: 11px;
                line-height: 15px;
                margin-right: 15px;
                padding-left: 15px;
                position: relative;
                height: 30px;
}
.header-address span {
                color: #fff;
                font-weight: bold;
                position: relative;
                width: max-content;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                max-width: 117px;
                text-transform: capitalize;
                padding-right: 15px;
}
.header-search {
                position: relative;
                width: 18.5%;
                background: #fff;
                border-radius: 4px;
}
.header-search input {
                border: none;
                font-size: 12px;
                line-height: 14px;
                height: 30px;
                padding: 8px 35px 8px 13px;
                width: 100%;
                border-radius: 4px;
}
.header-search button {
                background-color: transparent;
                border: none;
                position: absolute;
                top: 4px;
                right: 10px;
}
.header-cart {
                border: 1px solid #b0e3ff;
                border-radius: 4px;
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                margin-left: 10px;
                padding: 5px 8px;
                width: 100px;
}
.header__history {
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                margin: 0 12px 0 18px;
                text-align: center;
                width: 55px;
}
.header__hot {
                color: #fff200;
                font-size: 12px;
                line-height: 14px;
                padding: 3px 4px 3px 30px;
                position: relative;
                width: 18%;
}
.header-listtop {
                align-items: center;
                display: flex;
}
.divitem {
                padding: 0 15px;
                text-align: center;
}
.divitem a {
                color: #fff;
                font-size: 12px;
                line-height: 14px;
}
/* end:hearder-top*/
/* star:header-main */
.header-main {
    background-color: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    height: 41px;
}
.header-main section {
    align-items: center;
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: initial;
}
.category {
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    padding: 10px 0;
    width: 235px;
    position: relative;
    cursor: pointer;
    z-index: 5;
    height: 41px;
}
.category-txt {
    font-weight: bold;
    padding-left: 10px;
    width: 44%;
    position: relative;
}
.category:hover .bar-top-left{
    visibility:visible;
}
.category-txt span {
    position: relative;
    padding-right: 15px;
}
.category-all {
    color: #2f80ed;
    padding-right: 10px;
    text-align: right;
    
}
.category-txt, .category-all {
display: inline-block;
font-size: 14px;
line-height: 21px;
}
.bar-top-left {
margin-top: 0px;
border-top: none;
display: block;
border: 1px solid #ebebeb;
background-color: #fff;
width: 230px;
position: absolute;
z-index: 5;
top: 41px;
visibility: hidden;
}
.main-menu {
position: relative;
padding-left:0px;
margin: auto;
}
.main-menu li {
padding: 0 20px;
height: 30px;
display: flex;
align-items: center;
border-bottom: 1px solid #ebebeb;
}
.dropdown a {
color: #333;
font-size: 14px;
height: 228px;
width: 30px;
}
.txt-list {
font-size: 0;
padding-left: 5px;
padding-top: 10px;
}
.txt-list li {
border-right: 1px  solid #e0e0e0;
display: inline-block;
padding: 0px 15px;
}
.txt-list li a {
color: #333;
font-size: 14px;
line-height: 21px;
}
/* end:header-main*/
/* end:hearder*/

/* start:top-banner */
.top-banner {
    background-color: #fff;
    display: block;
    margin-top: 10px;
    height: 200px;
}
#carouselExampleIndicators-top-banner {
    width: 800px;
    height: 200px;
    float: left;
}
#carouselExampleIndicators-top-banner .carousel-control-prev, #carouselExampleIndicators-top-banner .carousel-control-next{
    width: 30px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
}
#carouselExampleIndicators-top-banner .carousel-control-prev:hover, #carouselExampleIndicators-top-banner .carousel-control-next:hover {
    background-color: #333;
}
#carouselExampleIndicators-top-banner .carousel-indicators button{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff200;
}
#carouselExampleIndicators-top-banner .carousel-indicators {
    margin-bottom: 0px;
}
/* end:top-banner */

/* start:promote-banner */
.promote-banner {
    display: block;
    width: 400px;
    float: left;
    margin-left: 0px;
    padding-left: 9px;
}
.promote-banner a:nth-child(2) img {
    margin-top: 6px;
}
/* end:promote-banner */

/* start:block-scroll-main */
.block-scroll-main {
    
    display: block;
    margin-top: 25px;
    height: 35px;
}
.dropdown {
    float: left;
    margin-right: 13px;
}
.dropdown .button {
    width: 200px;
    height: 50px;
}
.dropdown .filter-list_hang-menu {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    height: 126px;
}

.dropdown .filter-list_hang-menu .c-btnbox {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin: 4px;
    width: 99px;
    height: 45px;
}
.dropdown .filter-list_hang-menu .c-btnbox img{
    display: flex;
    width: auto;
    object-fit: contain;
    justify-content: center;
    width: 97px;
    height: 43px; 
}
.dropdown .btn {
    height: 35px;
}
.dropdown .btn-secondary {
    color: black;
    background-color: #fff;
    border-color: #6c757d;
}
.dropdown .btn-secondary:focus {
    box-shadow: 0 0 0 0.1px rgb(130 138 145 / 50%);
}
.dropdown .filter-show {
    background-color: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
    border-radius: 4px;
    max-width: 600px;
    min-width: 382px;
    left: 0;
    position: absolute;
    padding: 10px;
    top: 45px;
    width: max-content;
    white-space: normal;
    z-index: 3;
}
.dropdown .filter-list {
    display: flex;
    flex-wrap: wrap;
}
.dropdown .filter-list .c-btnbox{
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin: 4px;
    height: 35px;
    width: auto;
    padding: 10px;
    text-decoration: none;
}
.dropdown .filter-list {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    height: auto;
    margin-left: 5px;
}
.dropdown .filter-list .c-btnbox:hover {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

/* end:block-scroll-main */

/* start:container-productbox */
.container-productbox {
    margin-top: 25px;
    display: block;
    overflow: hidden;
    width: 100%;
}
.container-productbox .listproduct {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding: 0px;
    margin-bottom: 0px;
}

/* end:container-productbox */

/* start:prmotebannerbhx */
.prmotebannerbhx {
    display: contents;
    
}
.prmotebanner-bhx{
    max-width: 1200px;
    display: block;
    margin-top: 40px;
}
/* end:prmotebannerbhx */

/* start:footer */
.footer {
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;
}
.footer_top {
    padding: 15px 0 5px;
    max-width: 1200px;
    margin: auto;
}
.footer_col{
    float: left;
    width: 33%;
    
}
.f-listmenu {
    padding-left: 0px;
}
.f-listmenu li {
    margin-bottom: 10px;
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listmenu li b {
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listmenu li a {
    color: #333;
    text-decoration: none;
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-item__label__new {
    background-color: #fe0000;
    color: #f8d51a;
    font-size: 10px;
    padding: 0 5px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 5px;
    
}
.f-listtel_title strong{
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listtel_title{
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listtel_content{
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listtel_content span{
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-listtel_content a{
    text-decoration: none;
    line-height: 21px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* end:footer */
